<table class="table table-hover table-sm">
    <thead>
        <th>{{year}}</th>
        <th>JAN</th>
        <th>FEB</th>
        <th>MAR</th>
        <th>APR</th>
        <th>MAY</th>
        <th>JUN</th>
        <th>JUL</th>
        <th>AUG</th>
        <th>SEP</th>
        <th>OCT</th>
        <th>NOV</th>
        <th>DEC</th>
    </thead>
        <tr *ngIf="estimate" matTooltip="Click on the amount to update the estimate" [matTooltipPosition]="position">
            <th>ESTIMATE</th>
            <td (click)="updateEstimate('JAN')">{{estimate.JAN | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('FEB')">{{estimate.FEB | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('MAR')">{{estimate.MAR | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('APR')">{{estimate.APR | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('MAY')">{{estimate.MAY | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('JUN')">{{estimate.JUN | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('JUL')">{{estimate.JUL | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('AUG')">{{estimate.AUG | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('SEP')">{{estimate.SEP | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('OCT')">{{estimate.OCT | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('NOV')">{{estimate.NOV | currency : "USD": "symbol-narrow"}}</td>
            <td (click)="updateEstimate('DEC')">{{estimate.DEC | currency : "USD": "symbol-narrow"}}</td>
        </tr>

    <tbody class="body">
        <tr *ngFor="let item of reportItems.slice(0,reportItems.length - 2)">
            <th>{{item.name}}</th>
            <td>{{item.JAN | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.FEB | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.MAR | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.APR | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.MAY | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.JUN | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.JUL | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.AUG | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.SEP | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.OCT | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.NOV | currency : "USD": "symbol-narrow"}}</td>
            <td>{{item.DEC | currency : "USD": "symbol-narrow"}}</td>
        </tr>           
    </tbody> 
    <tr *ngIf="difference">
        <th>DIFFERENCE</th>
        <td>{{difference.JAN | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.FEB | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.MAR | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.APR | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.MAY | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.JUN | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.JUL | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.AUG | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.SEP | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.OCT | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.NOV | currency : "USD": "symbol-narrow"}}</td>
        <td>{{difference.DEC | currency : "USD": "symbol-narrow"}}</td>
    </tr>
</table>
<a (click)="downloadRepodrt()" [download]="filename"><button mat-raised-button >Export</button></a>