<div class="container col-md-12">
    <form #gseccodeForm="ngForm">
        <div class="row">
            <label class="col-md-3" for="Code">Account:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Code"
                [disabled]="edit"
                [(ngModel)]="gseccode.Code" name="Code">
            </div>
            <div class="col-md-4">
                <select class="form-control" id="AccountType"
                [(ngModel)]="gseccode.AccountType" name="AccountType">
                    <option>Trader Account</option>
                    <option>Firm Account</option>
                </select>
            </div>
        </div>
    </form>
</div>
