


<mat-card class="gsec-card">
    <mat-card-header>
        <mat-card-title> 
            <mat-select placeholder="Select Account Code" [(ngModel)]="selectedAccount" name="account" (change)="getReport()">
                <mat-option *ngFor="let code of gseccodelist" [value]="code" class="dropdown">
                    {{code}}
                </mat-option>
            </mat-select>

        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div *ngIf="reportItems && selectedAccount">

        <table class="table table-hover table-sm">
            <thead>
                <th>{{year}}</th>
                <th>JAN</th>
                <th>FEB</th>
                <th>MAR</th>
                <th>APR</th>
                <th>MAY</th>
                <th>JUN</th>
                <th>JUL</th>
                <th>AUG</th>
                <th>SEP</th>
                <th>OCT</th>
                <th>NOV</th>
                <th>DEC</th>
            </thead>
                <tr *ngIf="estimate">
                    <th>ESTIMATE</th>
                    <td>{{estimate.JAN | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.FEB | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.MAR | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.APR | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.MAY | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.JUN | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.JUL | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.AUG | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.SEP | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.OCT | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.NOV | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{estimate.DEC | currency : "USD": "symbol-narrow"}}</td>
                </tr>

            <tbody class="body">
                <tr *ngFor="let item of reportItems.slice(0,reportItems.length - 2)">
                    <th>{{item.name}}</th>
                    <td>{{item.JAN | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.FEB | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.MAR | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.APR | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.MAY | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.JUN | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.JUL | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.AUG | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.SEP | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.OCT | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.NOV | currency : "USD": "symbol-narrow"}}</td>
                    <td>{{item.DEC | currency : "USD": "symbol-narrow"}}</td>
                </tr>           
            </tbody> 
            <tr *ngIf="difference">
                <th>DIFFERENCE</th>
                <td>{{difference.JAN | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.FEB | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.MAR | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.APR | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.MAY | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.JUN | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.JUL | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.AUG | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.SEP | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.OCT | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.NOV | currency : "USD": "symbol-narrow"}}</td>
                <td>{{difference.DEC | currency : "USD": "symbol-narrow"}}</td>
            </tr>
        </table>
        </div>
        
    </mat-card-content>

    <mat-card-actions>
        <a *ngIf="reportItems && selectedAccount" (click)="downloadRepodrt()" [download]="filename"><button mat-raised-button >Export</button></a>
    </mat-card-actions>
</mat-card>

