
.gsec-card {
    width: 1400px;
    margin: 0 auto;
}

.dropdown {
    color: black;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: lightgreen;
}

.body{
    font-size: 90%;
    font-weight: lighter;
}

a { color: inherit; } 