<h3> {{ title }} </h3>

<div>
    <p> {{ message }} </p>
    <input [(ngModel)]="amount">
</div>
<button type="button" mat-button 
(click)="dialogRef.close(result())">OK</button>
<button type="button" mat-button 
(click)="dialogRef.close()">Cancel</button>