<table class="table table-sm table-hover" *ngIf="amounts">
    <thead>
        <tr>
            <th></th>
            <th>JAN</th>
            <th>FEB</th>
            <th>MAR</th>
            <th>APR</th>
            <th>MAY</th>
            <th>JUN</th>
            <th>JUL</th>
            <th>AUG</th>
            <th>SEP</th>
            <th>OCT</th>
            <th>NOV</th>
            <th>DEC</th>
        <tr>
    </thead>
    <tbody>
            <tr>
                <th>Total Amount</th>
                <td>{{amounts.total.JAN | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.FEB | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.MAR | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.APR | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.MAY | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.JUN | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.JUL | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.AUG | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.SEP | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.OCT | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.NOV | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.total.DEC | currency : "USD" : "symbol-narrow"}}</td>
            </tr>

            <tr>
                <th>Paid Amount</th>
                <td>{{amounts.paid.JAN | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.FEB | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.MAR | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.APR | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.MAY | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.JUN | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.JUL | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.AUG | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.SEP | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.OCT | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.NOV | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.paid.DEC | currency : "USD" : "symbol-narrow"}}</td>
            </tr>

            <tr>
                <th>Remaining Amount</th>
                <td>{{amounts.remain.JAN | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.FEB | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.MAR | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.APR | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.MAY | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.JUN | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.JUL | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.AUG | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.SEP | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.OCT | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.NOV | currency : "USD" : "symbol-narrow"}}</td>
                <td>{{amounts.remain.DEC | currency : "USD" : "symbol-narrow"}}</td>
            </tr>
        
    </tbody>
                

</table>