
<div class="container" *ngIf="trader" style="background:lightgrey; border-radius:10px; padding-bottom:5px; margin-bottom: 20px">
    <form #traderForm="ngForm" class="col-md-12">
        <fieldset class="form-group">
            <legend>Trader Info</legend>
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label" for="Group">Trader or Group Name</label>
                    <input type="text" class="form-control" id="Group"
                    [(ngModel)]="trader.Group" name="Group"
                    placeholder="e.g. JAE, LAW, etc.">
                </div>
                <div class="col-md-8">
                    <label class="col-form-label" for="GSECCode">GSEC Code(s) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm" (click)="addGSECCode()"> Add Another Account Code </button> </label>
                    <div class="row" *ngFor="let gsec of trader.GSECCodes; let i = index">
                        <div class="col-md-10">
                            <gseccode-form [gseccode]="trader.GSECCodes[i]" [edit]="gsDisabledList[i]"></gseccode-form>
                        </div>
                        <div class="col-md-2">
                            <button *ngIf="!gsDisabledList[i]" class="btn btn-danger btn-sm-btn gs-del-btn" (click)="deleteGSEC(i)">x</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label" for="BeginningMonthlyCharge"> Beginning Estimated Monthly Charge</label>
                    <input type="number" class="form-control" id="BeginningMonthlyCharge"
                    [(ngModel)]="trader.BeginningMonthlyCharge" name="BeginningMonthlyCharge"
                    placeholder="estimated amount">
                </div>
            </div>
            
        </fieldset>

        <fieldset>
        <legend>Contact(s) <button class="btn-sm"(click)="addContact()">Add Another Contact</button></legend>
  
            <div class="new-contact" *ngFor="let contact of trader.Contacts; let i = index" style="padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #ECF0F1">
                <div class="row">
                    <button *ngIf="trader.Contacts.length > 1" class="btn btn-danger btn-sm" (click)="deleteContact(i)">remove this contact</button>
                    <contact-detail [(contact)]="trader.Contacts[i]"></contact-detail>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <span class="col-md-2 col-md-offset-7">{{message}}</span>
            <button class="col-md-2 btn-sm btn-success" *ngIf="!edit" (click)="save()">Create</button>
            <button class="col-md-2 btn-sm btn-success" *ngIf="edit" (click)="update()">Update</button>

        </div>
    </form>
</div>
