.select-box {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30%;
}


.spacer {
    flex: 1 1 auto;
}

button {
    margin-left: 5px
}

.trader-list-container {
    margin: 5px auto 0
}