<!--
<div class="container">
    <trader-detail *ngFor="let trader of traders" [trader]='trader'> </trader-detail>
</div>

-->
 <div class="trader-list-container">
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-select placeholder="Select Trader" [(ngModel)]="traderOid" (change)="getTrader()">
                    <mat-option *ngFor="let trader of traders" [value]="trader.Oid">
                        {{trader.Group}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        
            <span *ngIf="selectedTrader" class="spacer"></span>
            <button *ngIf="selectedTrader" color="accent" mat-raised-button (click)="updateTrader(selectedTrader.Oid)">Edit</button>
            <button [disabled]="deleteDisabled" *ngIf="selectedTrader" color="warn" mat-raised-button>Delete</button>
        
        </mat-card-content>

    </mat-card>


    <trader-detail *ngIf='selectedTrader' [trader]='selectedTrader'></trader-detail>
 </div>
