
<mat-card class="trader-card">
        <mat-toolbar color="primary">
            <span>{{trader.Group}}</span>
            
        </mat-toolbar>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Contact Info">
                    <div *ngFor="let contact of trader.Contacts">
                        <contact-display [contact]="contact"> </contact-display>
                    </div>
            </mat-tab>
            <div *ngFor="let gs of trader.GSECCodes">
                <mat-tab label="{{gs.Code}}">
                    <gsec-report [code]="gs.Code" [year]=year></gsec-report>
                </mat-tab>
            </div>
        </mat-tab-group>
    </mat-card-content>

</mat-card>

