
<div class="container col-md-12">
    <form #contactForm="ngForm">
        <div class="row">
            <div class="col-md-6">

                <div class="row">
                    <label class="col-md-3 col-form-label" for="FirstName">First Name:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="FirstName"
                        [(ngModel)]="contact.FirstName" name="FirstName">
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" for="LastName">Last Name:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="LastName"
                        [(ngModel)]="contact.LastName" name="LastName">
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" for="Title">Title:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="Title"
                        [(ngModel)]="contact.Title" name="Title">
                    </div>
                </div>
  
                <div class="row" style="margin-top:5px; border-top:1px solid #ECF0F1">
                    <label class="col-md-3">Phone(s)</label>
                    <div class="col-md-6">
                        <button (click)="addPhone()">Add another number</button>
                    </div>
                </div>
                
                <div class="row" *ngFor="let phone of contact.Phones; let i = index">
                    <span class="btn btn-sm btn-danger" (click)="deletePhone(i)" *ngIf="contact.Phones.length > 1"
                    style="z-index:10 ;padding:0px 5px; float:left; position: absolute; clear: both; margin-left:-10px">x</span>
                    <phone-form  [(phone)]="contact.Phones[i]"></phone-form>  
                </div>



                <div class="row" style="margin-top:5px; border-top:1px solid #ECF0F1">
                    <label class="col-md-3">Email(s)</label>
                    <div class="col-md-6">
                        <button (click)="addEmail()">Add another email</button>
                    </div>
                </div>

                <div class="row" *ngFor="let email of contact.Emails; let i = index">
                    <span class="btn btn-sm btn-danger" (click)="deleteEmail(i)" *ngIf="contact.Emails.length > 1"
                    style="z-index:10 ;padding:0px 5px; float:left; position: absolute; clear: both; margin-left:-10px">x</span>
                    <email-form  [(email)]="contact.Emails[i]"></email-form>
                </div>



            </div>

            <div class="col-md-6">
                <div class="row">
                    <label class="col-md-12">Contact Person Address</label>
                </div>
                <div class="row">
                    <address-form [(address)]="this.contact.Addresses[0]"></address-form>
                </div>
            </div>
        </div>

        <div class="row">
        </div>
    </form>
</div>
