<table class="table table-sm table-bordered">
    <tbody>
        <tr>
            <td>Name:</td>
            <th [attr.colspan]="2">
                {{contact.FirstName}}
                {{contact.LastName}}
            </th>
            <td></td>
            <td width="50%">Address</td>
        </tr>
    </tbody>
    <tbody>
        <tr *ngFor="let phone of contact.Phones">
            <td>Phone:</td>
            <td [attr.colspan]="2">{{phone.Number}}</td>
            <td>{{phone.Type}}</td>
            <td [attr.rowspan]="contact.Phones.length + contact.Emails.length"> 
                <div *ngIf="contact.Addresses[0]">
                    <p>{{contact.Addresses[0].Street}}</p>
                    <p>{{contact.Addresses[0].Unit}}</p>
                    <p>{{contact.Addresses[0].City}},
                        {{contact.Addresses[0].ZipCode}} 
                        {{contact.Addresses[0].State}}</p>
                </div>

            </td>
        </tr>
        <tr *ngFor="let email of contact.Emails">
            <td>Email:</td>
            <td [attr.colspan]="2">{{email.Email}}</td>
            <td>{{email.Type}}</td>
        </tr>

    </tbody>

</table>