<div class="container" style="margin-top:30px">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Sign in </strong></h3></div>
            <div class="panel-body">
                <form role="form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" style="border-radius:0px" id="Email" placeholder="Enter email" 
                        [(ngModel)]="user.Email" name="Email">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" style="border-radius:0px" id="Password" placeholder="Password"
                        [(ngModel)]="user.Password" name="Password">
                    </div>
                    <button type="submit" class="btn btn-sm btn-default">Sign in</button>
                    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                    <span *ngIf="errorMessage" style="color:red">{{errorMessage}}</span>
                </form>
            </div>
        </div>
    </div>
</div>