<div class="container" style="margin-top:30px">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Register</strong></h3></div>
            <div class="panel-body">
                <form role="form" (ngSubmit)="f.form.valid && register()" #f="ngForm">
                    <div class="form-group">
                        <label for="UserName">User Name</label>
                        <input type="text" class="form-control" style="border-radius:0px" id="UserName" placeholder="Enter User Name"
                        [(ngModel)]="user.UserName" name="UserName">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" style="border-radius:0px" id="Email" placeholder="Enter Email"
                        [(ngModel)]="user.Email" name="Email">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" style="border-radius:0px" id="Password" placeholder="Enter Password"
                        [(ngModel)]="user.Password" name="Password">
                    </div>
                    <div class="form-group">
                        <label for="PasswordConfirm">Password (Comfirm)</label>
                        <input type="password" class="form-control" style="border-radius:0px" id="PasswordConfirm" placeholder="Enter Password Again"
                        [(ngModel)]="matchPassword" name="PasswordConfirm">
                    </div>
                    <button type="submit" class="btn btn-sm btn-default">Register</button>
                    <a class="btn btn-link" (click)="goBack()">back</a>
                    <span>{{errorMessage}}</span>
                </form>
          </div>
        </div>
    </div>
</div>



