<div class="breakdown-container" >
    <mat-table #table [dataSource]="dataSource" matSort>
        <!-- index Column -->
        <ng-container matColumnDef="CreatedBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{breakdowns.indexOf(element) + 1}} </mat-cell>
        </ng-container>

        <!-- GSEC Code Column -->
        <ng-container matColumnDef="GSECCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>GSEC Code</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.GSECCode}} </mat-cell>
        </ng-container>


        <!-- Detail Column -->
        <ng-container matColumnDef="Detail">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Detail </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Detail}} </mat-cell>
          </ng-container>


        <!-- Amount Column -->
        <ng-container matColumnDef="Amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Amount | currency :"USD": "symbol-narrow"}} </mat-cell>
        </ng-container>

        <!-- Notes Column -->
        <ng-container matColumnDef="Notes">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Notes}} </mat-cell>
        </ng-container>  
        
        <!-- Remove Button Column -->
        <ng-container matColumnDef="Trailer">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Remove </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="warn" (click)="remove(breakdowns.indexOf(element))">
                    <mat-icon aria-label="icon-button with a delete icon">delete</mat-icon>
                </button>
                
            </mat-cell>
        </ng-container>
    

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>

