        <!--
        <form>
            <mat-form-field [formGroup]="breakdownForm">
                <input matInput placeholder="GSEC Code" aria-label="GSECCode" [matAutocomplete]="auto"
                [(ngModel)]="breakdown.GSECCode" name="gseccode" [formControl]="gseccodeCtrl" formControlName="gseccode" >
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let code of filteredCodes | async" [value]="code">
                        {{code}}
                    </mat-option>
                </mat-autocomplete>
            
            </mat-form-field>
         
         
                

            <mat-form-field>
                <mat-select placeholder="Detail" [(value)]="breakdown.Detail" name="Detail">
                    <mat-option *ngFor="let service of services" value="service">
                        {{service}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
                

            <mat-form-field>
                
                    <input matInput placeholder="Amount" [(ngModel)]="breakdown.Amount" name="Amount">
                    <span matPrefix>$&nbsp;</span>
            
            </mat-form-field>
          
                

            <mat-form-field>
                    <input matInput placeholder="Notes" [(ngModel)]="breakdown.Notes" name="Notes">
            </mat-form-field>
           
                

            <button  (click)="addToBill()">Add</button>

        </form>     
    -->
<mat-grid-list cols="6" rowHeight="10em">
    <mat-grid-tile [colspan]="5">
            <form>
                    <mat-form-field [formGroup]="breakdownForm">
                            <input matInput placeholder="GSEC Code" aria-label="GSECCode" [matAutocomplete]="auto"
                            [(ngModel)]="breakdown.GSECCode" name="gseccode" [formControl]="gseccodeCtrl" formControlName="gseccode" >
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let code of filteredCodes | async" [value]="code">
                                    {{code}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="gseccode.invalid && (gseccode.dirty || gseccode.touched)">
                                    Not a valid code
                            </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Detail" [(ngModel)]="breakdown.Detail" name="Detail">
                            <mat-option *ngFor="let service of services" [value]="service">
                                {{service}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                    <mat-form-field>
                           
                            <input matInput placeholder="Amount" type=number [(ngModel)]="breakdown.Amount" name="amount" [formControl]="amount">
                            <span matPrefix>$&nbsp;</span>
                            <mat-error *ngIf="amount.invalid && (amount.dirty || amount.touched)">the amount is required</mat-error>
                    
                    </mat-form-field>

                    <mat-form-field >
                            <input matInput placeholder="Notes" [(ngModel)]="breakdown.Notes" name="Notes">
                    </mat-form-field>

                    
                    

                 

                    

            </form>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <button color="primary" mat-raised-button [disabled]="breakdownForm.status==='INVALID'"
            (click)="addToBill()">Add To Bill</button>
        </mat-grid-tile>
        </mat-grid-list>           
 
        
