<div style="width:300px">
    <mat-card class='year-picker'>
        <mat-card-title>
            Select Working Year
        </mat-card-title>
        <button (click)="updateWorkingYear(-1)"><</button>
        <span>{{year}}</span>
        <button (click)="updateWorkingYear(1)">></button>
    </mat-card>
</div>