<!--
<mat-toolbar color="accent" class="header">
  <mat-toolbar-row>
    <span><i routerLink="/dashboard"><img src="../assets/sumocapital_web_v1.png" height="100" alt="icon"></i></span>

    <div *ngIf="auth.loggedIn()">

        <button class="nav-font" routerLink="/dashboard" mat-button>Dashboard</button>

        <button class="nav-font" routerLink="/new-bill" mat-button>New Bill</button>


        <button class="nav-font" mat-button [matMenuTriggerFor]="newMenu">Create</button>
        <mat-menu #newMenu="matMenu">
          <button class="nav-link" routerLink="/new/vendor" mat-menu-item>New Vendor</button>
          <button class="nav-link" routerLink="/new/trader" mat-menu-item>New Trader</button>
        </mat-menu>

    
        <button class="nav-font" mat-button [matMenuTriggerFor]="billsMenu">Bills</button>
        <mat-menu #billsMenu="matMenu">
          <button class="nav-link" [routerLink]="['/bills']"  mat-menu-item>All Bills</button>
          <button class="nav-link" [routerLink]="['/bills-unpaid', '?IsCompleted=0']"  mat-menu-item>Rejected Bills</button>
          <button class="nav-link" [routerLink]="['/bills-paid', '?IsPaid=1']" mat-menu-item>Paid Bills</button>
          <button class="nav-link" [routerLink]="['/search-bills', '?IsApproved=1&isPaid=0']" mat-menu-item>Approved Bills</button>
          <button class="nav-link" [routerLink]="['/payment-summary']" mat-menu-item>Payment Summary</button>
        </mat-menu>
      



        <button class="nav-font" routerLink="/traders" mat-button>Traders</button>
        <button class="nav-font" routerLink="/vendors" mat-button>Vendors</button>

        <button class="nav-font" routerLink="/accounts" mat-button>Account Code</button>

        <button class="nav-font" routerLink="/vendor-report" mat-button>Vendor Report</button>



        <button class="nav-font"  mat-button [matMenuTriggerFor]="adminPortal">Admin Portal</button>
        <mat-menu #adminPortal="matMenu">
        <button class="nav-font" routerLink="/approval-view" mat-menu-item>Bill Approval</button>
        <button class="nav-font" routerLink="/bill-pay" mat-menu-item>Bill Pay</button>
        </mat-menu>

        <span class="app-toolbar-filler"></span>

      

    </div> 
      
      <button mat-button (click)="auth.logout()" *ngIf="auth.loggedIn()">
        
        <mat-icon>account_circle</mat-icon>
        {{auth.user.UserName}}
        <mat-icon>exit_to_app</mat-icon>
        
      </button>

    </mat-toolbar-row>
</mat-toolbar>
-->

<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="top-navbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 routerLink="/"><span class="sumo">SUMO</span><span>CAPITAL</span></h1>

      <span class="app-toolbar-filler"></span>

      <div *ngIf="auth.loggedIn()">
        <button routerLink="/dashboard" mat-button>Dashboard</button>
        <button mat-button [matMenuTriggerFor]="createMenu">New</button>
        <mat-menu #createMenu="matMenu">
            <a routerLink="/new-bill" mat-menu-item>New Bill</a>
            <a routerLink="/new/vendor" mat-menu-item>New Vendor</a>
            <a routerLink="/new/trader" mat-menu-item>New Trader</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="billsMenu">Bills</button>
        <mat-menu #billsMenu="matMenu">
          <button [routerLink]="['/bills']"  mat-menu-item>All Bills</button>
          <button [routerLink]="['/bills-unpaid', '?IsCompleted=0']"  mat-menu-item>Rejected Bills</button>
          <button [routerLink]="['/bills-paid', '?IsPaid=1']" mat-menu-item>Paid Bills</button>
          <button [routerLink]="['/search-bills', '?IsApproved=1&isPaid=0']" mat-menu-item>Approved Bills</button>
          <button [routerLink]="['/payment-summary']" mat-menu-item>Payment Summary</button>
        </mat-menu>

        <button routerLink="/traders" mat-button>Traders</button>
        <button routerLink="/vendors" mat-button>Vendors</button>

        <button routerLink="/accounts" mat-button>Account Code</button>

        <button routerLink="/vendor-report" mat-button>Vendor Report</button>

        <button mat-button [matMenuTriggerFor]="adminPortal">Admin Portal</button>
        <mat-menu #adminPortal="matMenu">
        <button routerLink="/approval-view" mat-menu-item>Bill Approval</button>
        <button routerLink="/bill-pay" mat-menu-item>Bill Pay</button>
        </mat-menu>
      </div>

      <span class="app-toolbar-filler"></span>

      <button mat-button (click)="auth.logout()" *ngIf="auth.loggedIn()" (closedStart)="display('it is closing')">
        <mat-icon>account_circle</mat-icon>
        {{auth.user.UserName}}
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matchs ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" class="side-nav"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        
        <!--
        <a routerLink="/new-bill" mat-list-item (click)="snav.toggle()">New Bill</a>
        <a routerLink="/new/vendor" mat-list-item (click)="snav.toggle()">New Vendor</a>
        <a routerLink="/new/trader" mat-list-item (click)="snav.toggle()">New Trader</a>
        -->


      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>




















