.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.header {
    height: 0px;
    font-size: small;
}

i{
    outline: 0
}

.nav-font {
    font-size: x-small;
}

.app-content {
    margin-top:0px
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h1 {
    text-decoration: none;
}
.top-navbar {
    min-width: 1260px;
}

.top-navbar .is-mobile {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.sidenav-container {
    flex: 1;
}

.is-mobile .sidenav-container {
    flex: 1 0 auto;
}

.side-nav {
    -webkit-box-shadow: 10px 0 5px -2px  rgb(199, 200, 201);
    box-shadow: 10px 0 5px -2px  rgb(199, 200, 201);
}

.sumo {
    color: red;
    font-family: serif, "Times New Roman", Times;
}
