<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.content}}</p>
</div>
<div mat-dialog-action>
    <button mat-button [mat-dialog-close]="true">Yes</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
    
</div>