

<table style="width:100%" cellspacing="0" class="table table-bordered">
    <thead>
        <tr>
            <th style="width:25%">{{bill.VendorShortcut}}</th>
            <th style="width:25%">{{bill.Month}}-{{bill.Year}}</th>
            <th style="width:30%">{{bill.Total | currency : "USD" : "symbol-narrow"}}</th>
            <th style="width:20%">
                <button mat-raised-button (click)="approve()" [disabled]="bill.IsApproved">Approve</button>
                <button mat-raised-button (click)="reject()" [disabled]="bill.IsPaid">Reject</button>
                </th>
        </tr>
    </thead>
    <tbody *ngIf="bill.Breakdowns">
        <tr *ngFor="let bkd of bill.Breakdowns; let i = index">
            <td>#{{i+1}}</td>
            <td>{{bkd.GSECCode}}</td>
            <td>{{bkd.Amount | currency : "USD" : "symbol-narrow"}}</td>
            <td class="message" *ngIf="i==0" [attr.rowspan]="bill.Breakdowns.length">
                <span *ngIf="bill.IsApproved">approved</span>
                <span *ngIf="!bill.IsCompleted">Rejected</span>
                </td>
        </tr>
    </tbody>
</table>
