<mat-card>
    <button mat-raised-button color="primary" class="back-button" (click)="goBack()">Go Back</button>
    
    <mat-toolbar color="warn" *ngIf="title">
        {{title}}
    </mat-toolbar>
    <mat-card-content style="margin-top:10px">
        <table class="table table-hover">
            <thead>
                <th>Status</th>
                <th>Vendor</th>
                <th>Type</th>
                <th>Month</th>
                <th>Year</th>
                <th>Total</th>
                <th></th>
            </thead>
            <tr *ngFor="let bill of bills" [style.color]="getStyle(bill)">
                <td [routerLink]="['/bills', bill.Oid]">{{getStatus(bill)}}</td>
                <td [routerLink]="['/bills', bill.Oid]">{{bill.VendorShortcut}}</td>
                <td [routerLink]="['/bills', bill.Oid]">{{bill.Type}}</td>
                <td [routerLink]="['/bills', bill.Oid]">{{bill.Month}}</td>
                <td [routerLink]="['/bills', bill.Oid]">{{bill.Year}}</td>
                <td [routerLink]="['/bills', bill.Oid]">{{bill.Total | currency :"USD": "symbol-narrow"}}</td>
                <td>
                    <button class="btn btn-default" (click)="delete(bill)" *ngIf="bill.IsPaid != true">Delete</button>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
