<table style="width:100%" cellspacing="0" class="table table-sm table-bordered">
    <thead>
        <tr height="20">
            <th height="20" style="width:15%" *ngIf="bill.BillNumber">{{bill.BillNumber}}</th>
            <th height="20" style="width:15%" *ngIf="bill.BillNumber== null">No Bill Number</th>

            <th height="20" style="width:15%">{{bill.VendorShortcut}}</th>
            <th height="20" height="20" style="width:15%">{{bill.Month}}-{{bill.Year}}</th>
            <th height="20" style="width:15%">{{bill.Total | currency : "USD" : "symbol-narrow"}}</th>
            <th height="20" style="width:15%">
                <mat-input-container align="end">
                    <input mdInput placeholder="Payment Comfirmation" [(ngModel)]="ref" name="PaymentAccount">
                </mat-input-container>
            </th>
            <th height="20" style="width:15%">
                <section>
                        <mat-checkbox [(ngModel)]="gsecAcct">GSEC</mat-checkbox>
                    
                        <mat-checkbox [(ngModel)]="chaseAcct">Chase</mat-checkbox>
                </section>

            </th>
            <th height="20" style="width:15%"><button mat-raised-button (click)="pay()" [disabled]="bill.IsPaid==true">Pay</button></th>
        </tr>
    </thead>
    <tbody *ngIf="bill.Breakdowns">
        <tr *ngFor="let bkd of bill.Breakdowns; let i = index">
            <td *ngIf="i==0" [attr.rowspan]="bill.Breakdowns.length"></td>
            <td>#{{i+1}}</td>
            <td>{{bkd.GSECCode}}</td>
            <td>{{bkd.Amount | currency : "USD" : "symbol-narrow"}}</td>
            <td class="message" *ngIf="i==0" [attr.colspan]="3" [attr.rowspan]="bill.Breakdowns.length">
                <span *ngIf="bill.IsPaid">Paid</span></td>
        </tr>
    </tbody>
</table>
