
<div class="container">
    <div>
            <form  #billForm="ngForm" class="col-md-5" style="background:lightgrey; border-radius:10px; padding-bottom:5px">
                <h2>{{bill.Type}}</h2>
            <div class="row">
                <div class="form-group col-md-7">           
                    <label class="col-form-label" for="VendorShortcut">Vendor</label>
                    <select type="text" class="form-control" id="VendorShortcut" required [disabled]="submitted || (canEdit && bill.Oid)"
                    [(ngModel)]="bill.VendorShortcut"   name="VendorShortcut" #Vendor="ngModel"
                    (change)="getVendor(bill.VendorShortcut)">
                        <option></option>
                        <option *ngFor="let vendor of vendors" >{{vendor}}</option>
                    </select>   
                    <div [hidden]="Vendor.valid || Vendor.pristine || submitted" class="alert alert-danger">Vendor Name is required</div>
                </div>

                <div class="form-group col-md-5">
                    <label class="col-form-label" for="Month">Month</label>
                    <select type="text" class="form-control form-control-lg" id="Month" required [disabled]="submitted || (canEdit && bill.Oid)"
                        [(ngModel)]="bill.Month" name="Month" #Month="ngModel">
                        <option></option> 
                        <option *ngFor="let month of months">{{month}}</option>
                    </select>
                    <div [hidden]="Month.valid || Month.pristine || submitted" class="alert alert-danger">Month is required</div>
                </div>
            </div> 

            <div class="row">
                <div class="form-group col-md-7">
                            <label class="col-form-label" for="bill.Type">Bill Type</label>
                            <div class="row">
                                <label class="form-check-label col-md-6">
                                    <input type="radio" class="form-control" maxlength="32" id="Bill" [disabled]="submitted || (canEdit && bill.Oid)"
                                    [(ngModel)]="bill.Type" name="Type" value="Bill" checked="checked"> Bill
                                </label>
                                <label class="form-check-label col-md-6">
                                    <input type="radio" class="form-control" maxlength="32" id="Credit" [disabled]="submitted || (canEdit && bill.Oid)"
                                    [(ngModel)]="bill.Type" name="Type" value="Credit"> Credit
                                </label>

                            </div>
                            
                </div>

                <div class="form-group col-md-5">
                        <label class="col-form-label" for="Year">Year</label>
                        <select type="text" class="form-control form-control-lg" id="Year" required [disabled]="submitted || (canEdit && bill.Oid)"
                        [(ngModel)]="bill.Year" name="Year" #Year="ngModel">
                            <option></option> 
                            <option *ngFor="let year of years">{{year}}</option>
                        </select>
                        <div [hidden]="Year.valid || Year.pristine" class="alert alert-danger">Year is required</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-7">
                    <div *ngIf="bill.Oid">{{message}}</div>
                </div>



                    <div class="form-group col-md-5">
                            <label class="col-form-label" for="Total">Total</label>
                            <input type="number" min="0.01" step="0.01" class="form-control" id="Total" required [disabled]="submitted || (canEdit && bill.Oid)"
                            [(ngModel)]="bill.Total" name="Total" #Total="ngModel" (change)="setEnableBreakdown(true)">
                            <div [hidden]="Total.valid || Total.pristine || submitted" class="alert alert-danger">Bill amount is required</div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-lg" (click)="payBill()">Pay Bill</button>
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-primary btn-lg" (click)="goBack()">Back</button>
                    </div>
            
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!billForm.form.valid" 
                        (click)="add()" *ngIf="!bill.Oid">Save</button>
                        <button type="submit" class="btn btn-primary btn-lg" (click)="edit()"
                        *ngIf="bill.Oid && canEdit || billForm.form.prestine">Edit</button>
                        <button type="submit" class="btn btn-primary btn-lg" 
                        *ngIf="bill.Oid && !canEdit && !submitted" (click)="update()">Update</button>
                    </div>
                </div>
                
            </form>
    </div>
</div>

<div class="container" *ngIf="enableBreakdown">
    <table class="table table-hover">
        <thead>
            <th>GSEC Account Code</th>
            <th> Detail</th>
            <th> Amount </th>
            <th> Trailer </th>
            <th> </th>
        </thead>
        <tr *ngFor="let bd of bill.Breakdowns">
            <td>{{bd.GSECCode}} </td>
            <td>{{bd.Detail}}</td>
            <td>{{bd.Amount | currency : "USD" : "symbol-narrow"}}</td>
            <td>{{bd.Trailer}}</td>
            <td><button  (click)="deleteBreakdown(bd.Oid)">delete</button></td>
        </tr>
        <tr>
            <td>
                <select [(ngModel)]="breakdown.GSECCode" required>
                    <option></option>
                    <option *ngFor="let gs of gseccodes">
                        {{gs.Code}}
                    </option>
                </select>
            </td>
            
            <td>
                <select [(ngModel)]=breakdown.Detail>
                    <option *ngFor="let detail of vendor.Services">{{detail}}</option>
                </select>
            </td>
            
            <td>
                <input type="number" [(ngModel)]="breakdown.Amount" required>
            </td>

            <td>
                {{getTrailer()}}
            </td>
            <td>
                <button (click)="addBreakdown()">add</button>
            </td>

        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <span *ngIf="remainAmount > 0">{{remainAmount | currency : "USD" : "symbol-narrow"}} remaining on this bill</span>
                <span *ngIf="remainAmount < 0">{{remainAmount | currency : "USD" : "symbol-narrow"}} Credit on this bill</span>
            </td>
            <td>
                <button *ngIf="remainAmount <= 0" (click)="saveToCashCard(bill.Oid)">Add to Cash Card</button>
            </td>

        </tr>

    </table>


    

</div>
    
