

<mat-tab-group [selectedIndex]="selectedMonth" (selectedIndexChange)="changeTab($event)">

    <mat-tab *ngFor="let month of months" [label]="month"> 
        
        <mat-card>
            <mat-toolbar color="warn">
                <span>{{monthNames[selectedMonth]}}-{{selectedYear}} Bills need to be Paid</span>
                
            </mat-toolbar>
            <mat-card-content>
                <!--<bill-approval *ngFor="let bill of bills" [bill]="bill"></bill-approval>-->
                <bill-pay *ngFor="let bill of bills" [bill]="bill"></bill-pay>
            </mat-card-content>

        </mat-card>
    </mat-tab>
</mat-tab-group>
