.message {
    vertical-align: middle;
}

.message span{
    background-color: green;
    color:white;
    padding: 5px 15px;
}

thead {
    font-size: large
}

tbody {
    font-size: small;
    color: grey
}