<mat-card>
    <mat-card-content class="header">
        <div>{{bill.VendorShortcut}}</div> 
        <div>{{bill.Month}} - {{bill.Year}}</div> 
        <div>Total {{bill.Total | currency :"USD": "symbol-narrow" }}</div>
    </mat-card-content>
    <mat-card-content>
        <table class="table table-sm">
            <thead>
                <th>GSEC Code</th>
                <th>Amount</th>
            </thead>
            <tbody>
                <tr *ngFor="let bkd of bill.Breakdowns">
                    <td>{{bkd.GSECCode}}</td>
                    <td>{{bkd.Amount | currency :"USD": "symbol-narrow"}}</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <button mat-raised-button (click)="copy()">Copy Over -></button>
</mat-card>