

.last-bill {
    width: 400px;
    margin: 0 20px 0 auto;
}

.bill-form-container {
    display: flex;
    margin-top: 20px;

}

.bill-form-container > mat-card {
    width: 1000px;
    margin: 0 auto;
}

.bill-form {
    margin: 0 auto auto 0 !important;
}

.breakdown-content {
    border-top: 1px dotted grey;
}