<div class="bill-form-container">


 
 <!-- Display Previous Bills for the Vendor -->
    <div *ngIf="showLastBill()" class="last-bill">
        <mat-tab-group class="last-bill" [selectedIndex]="billsLastMonth.length - 1">
            <mat-tab label="{{bill.Month}}" *ngFor="let bill of billsLastMonth">
                <bill-side-view [bill]=bill (copyBillOver)="fromLastMonth($event)"></bill-side-view>
            </mat-tab>
        </mat-tab-group>
    </div>
    

    <mat-card [ngClass]="{'bill-form' : showLastBill()}">
            <mat-toolbar color="accent">
                <mat-card-title>{{bill.Type}}</mat-card-title>
            </mat-toolbar>
            <mat-card-content class="bill-content">
                <mat-grid-list cols="4" rowHeight="5em">
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput placeholder="Vendor" [(ngModel)]="bill.VendorShortcut" name="VendorShorcut" aria-label="Vendor" [matAutocomplete]='auto'
                            [formControl]='vendorCtrl'>
                            
                    
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let vendor of filteredVendors | async" [value]="vendor"
                                (click)="getVendor(vendor)">
                                    {{vendor}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </mat-grid-tile>
        
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select placeholder="Type" [(ngModel)]="bill.Type" name="Type" selected="'Bill'">
                                <mat-option [value]="'Bill'">
                                    Bill
                                </mat-option>
                                <mat-option [value]="'Credit'">
                                    Credit
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
        
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select placeholder="Month" [(ngModel)]="bill.Month" name="Month" selected="bill.Month">
                                <mat-option *ngFor="let month of months" [value]="month">
                                    {{month}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
        
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select placeholder="Year" [(ngModel)]="bill.Year" name="Year" selected="bill.Year">
                                <mat-option *ngFor="let year of years" [value]="year">
                                    {{year}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
        
                    <mat-grid-tile>
                        <mat-form-field>
                                <input matInput placeholder="Bill Number"  [(ngModel)]="bill.BillNumber" name="BillNumber">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div *ngIf="bill.Breakdowns.length > 0">
                            Allocated Amount {{total | currency :"USD": "symbol-narrow"}}
                        </div>
                    </mat-grid-tile>
                        
                    <mat-grid-tile>
                        <div *ngIf="bill.Breakdowns.length > 0">
                         Remaining Amount {{bill.Total - total | currency :"USD": "symbol-narrow"}}
                        </div>
                    </mat-grid-tile>
        
                    <mat-grid-tile>
                        <mat-form-field align="end">
                            <input matInput placeholder="Total Amount" name="Total" 
                            (focusout)="updateDisplayAmount()"
                            (ngModelChange)="setTotalAmountValue($event)"
                            [ngModel]="displayTotalAmount | currency : 'USD'">
                        </mat-form-field>

                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>

            <mat-card-content *ngIf="selectedVendor">
                    <bill-breakdown [breakdown]="breakdown" [services]="selectedVendor.Services"
                    (sendToBill)="addBreakdown($event)"></bill-breakdown>
                     
                   
            </mat-card-content>

            <mat-card-content>
                    <breakdown-table [breakdowns]="bill.Breakdowns" 
                    (removeFromBill)="removeBreakdown($event)"
                    *ngIf="bill.Breakdowns.length > 0">
                </breakdown-table>
            </mat-card-content>

            <mat-grid-list cols="6" rowHeight="5em">
                <mat-grid-tile [colspan]="3">

                </mat-grid-tile>

                <mat-grid-tile>
                    <button color="warn" mat-raised-button (click)="goBack()">Back</button>
                </mat-grid-tile>

                <mat-grid-tile>
                    <button color="warn" mat-raised-button (click)="reSet()">Reset</button>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1">
                    <button color="primary" mat-raised-button 
                    [disabled]="disabled"
                    (click)="createOrUpdateBill()">Apply</button>
                </mat-grid-tile>
            </mat-grid-list>

            


           
        </mat-card>
</div>