<div class="container-fluid">
    <div class="col-md-auto">
        <div class="panel panel-detault">
            <div class="panel-heading"><h3 class="panel-title"><strong>{{expense.Year}} / {{expense.Month}}</strong></h3></div>
            <div class="panel-body">
                <div class="row">
                    <label for="AverageExpense">Estimated Expense</label>
                    <div name="AverageExpense"> {{expense.AverageExpense | currency:"USD":"symbol-narrow"}}</div>
                </div>
                <div class="row">
                    <label for="RealExpense">Actual Expense</label>
                    <div name="RealExpense"> {{expense.RealExpense | currency:"USD":"symbol-narrow"}}</div>
                </div>
                <div class="row">
                    <label for="Balance">Balance</label>
                    <div name="Balance">{{expense.Balance | currency:"USD":"symbol-narrow"}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
                    