

/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';
*/


body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
}
html {
  height: 100%;
}

md-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

md-toolbar-row {
  justify-content: space-between;
}


th, td, thead {
    text-align: center;
    vertical-align: middle;
}



.signin-message {
  font-weight: bold;
  float: right;
  vertical-align: middle;
  border-width: 3px;
  border-color: red;
  border-style: solid;
  text-align: center;
  border-radius: 5px;
  margin: 2px 25px 2px;
  padding: 5px 10px;
  background-color: lightcoral;
  opacity: 0.8;
}


@media print {
    .no-print {display: none;}
}